body {
  background-image: url(../img/pzbg4.jpg);
  background-size:cover;
  background-attachment: fixed;
  padding: 30px;
}

h1 {
  font-family: 'Cutive Mono', monospace;
  font-size: 70px;
}

h3, h4, h5 {
  font-family: 'Josefin Slab', serif;
  font-size-adjust: auto;
}

label {
  font-family: 'Josefin Slab', serif;
}

.well {
    background-color: rgba(0, 0, 0, 0.7);
    border-width: 0;
}

.container {
  width: 85%;
}

* {
  color: white;
  font-size: 20px;
}

.col-md-6 {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

.col-md-5 {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

.form-control {
  opacity: .5;
  color: #a81d00;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Josefin Slab', serif;
}

.btn-danger {
    color: #white;
    background-color: #a81d00;
    border-color: #4c3f3d;
}
